<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
<!-- 包裹的扫描模块 -->
	<bean id="packaging_process_module" class="com.multiagent.hawklithm.leon.process.PackagingProcess">
		<property name="equipmentList">
			<list>
				<ref bean="packaging_gate"/>
				<ref bean="packaging_equipment1" />
				<ref bean="packaging_equipment2" />
			</list>
		</property>
		<property name="readerList">
			<list>
				<ref bean="packaging_reader1" />
				<ref bean="packaging_reader2" />
				<ref bean="packaging_singleRead3" />
				<ref bean="packaging_reader3" />
				<ref bean="packaging_reader4" />
				<ref bean="packaging_reader5" />
				<ref bean="packaging_reader6" />
			</list>
		</property>
	</bean>
	<bean id="packaging_gate" class="com.multiagent.hawklithm.leon.module.Gate" init-method="initWarden">
		<property name="moduleProperty">
			<bean class="com.multiagent.hawklithm.leon.module.property.DO.GateProperty">
				<property name="workspaceNameToUser" value="打包工段"/>
				<property name="workspaceName" value="packaging_process"/>
				<property name="rfid" value="3023"/>
			</bean>
		</property>
	</bean>
	
	<bean id="packaging_equipment1"
		class="com.multiagent.hawklithm.leon.module.PackagingEquipmentModule"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.PackagingEquipmentProperty">
				<property name="rfid" value="3024" />
			</bean>
		</property>
	</bean>

	<bean id="packaging_equipment2"
		class="com.multiagent.hawklithm.leon.module.PackagingEquipmentModule"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.PackagingEquipmentProperty">
				<property name="rfid" value="3025" />
			</bean>
		</property>
	</bean>

	<bean id="packaging_reader1" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3026" />
				<property name="targetRFID" value="3024" />
				<property name="targetKind" value="target_type_machine" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_enter" />
			</bean>
		</property>
	</bean>

	<bean id="packaging_reader2" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3027" />
				<property name="targetRFID" value="3024" />
				<property name="targetKind" value="target_type_machine" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_exit" />
			</bean>
		</property>
	</bean>
	
	
	<bean id="packaging_reader3" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3126" />
				<property name="targetRFID" value="3025" />
				<property name="targetKind" value="target_type_machine" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_enter" />
			</bean>
		</property>
	</bean>

	<bean id="packaging_reader4" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3127" />
				<property name="targetRFID" value="3025" />
				<property name="targetKind" value="target_type_machine" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_exit" />
			</bean>
		</property>
	</bean>
	
	<bean id="packaging_reader5" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3226" />
				<property name="targetRFID" value="3023" />
				<property name="targetKind" value="packaging_processtarget_type_entry" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_enter" />
			</bean>
		</property>
	</bean>
	
	<bean id="packaging_reader6" class="com.multiagent.hawklithm.leon.module.Reader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3227" />
				<property name="targetRFID" value="3023" />
				<property name="targetKind" value="packaging_processtarget_type_entry" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
				<property name="targetMessageDir" value="wm_exit" />
			</bean>
		</property>
	</bean>

	<bean id="packaging_singleRead3"
		class="com.multiagent.hawklithm.leon.module.DynamicStatusReader"
		init-method="initWarden">
		<property name="moduleProperty">
			<bean
				class="com.multiagent.hawklithm.leon.module.property.DO.ReaderEquipmentProperty">
				<property name="rfid" value="3028" />
				<property name="targetRFID" value="3025" />
				<property name="targetKind" value="target_type_machine" />
				<property name="targetMessageKind" value="wm_rfidfromreader" />
			</bean>
		</property>
		<property name="dirGetter" ref="singleReaderDirGetter" />
	</bean>

	<bean id="packaging_singleReaderDirGetter"
		class="com.multiagent.hawklithm.leon.module.plugin.SingleReaderInAndOutDirGetter" />
</beans>